#include <windows.h>
#include "resource.h"

IDD_MAIN DIALOG 8, 8, 248, 176
STYLE WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_MODALFRAME
CAPTION "Win16Sync"
FONT 8, "Helv"
BEGIN
    LTEXT "Server-IP", -1, 6, 8, 44, 10
    EDITTEXT IDC_HOST, 58, 6, 88, 12, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "Port", -1, 152, 8, 22, 10
    EDITTEXT IDC_PORT, 178, 6, 60, 12, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "Zielordner", -1, 6, 24, 44, 10
    EDITTEXT IDC_ROOTDIR, 58, 22, 180, 12, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "Intervall (s)", -1, 6, 40, 46, 10
    EDITTEXT IDC_INTERVAL, 58, 38, 34, 12, ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL "CRC komplett aus (Warnung!)", IDC_CRCOFF, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 98, 40, 128, 10
    CONTROL "CRC-Recheck", IDC_CRCRECHECK, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 98, 54, 68, 10
    CONTROL "Autostart", IDC_AUTOSTART, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 170, 54, 56, 10
    CONTROL "Minimiert starten", IDC_STARTMIN, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 98, 68, 84, 10
    PUSHBUTTON "Speichern", IDC_SAVE, 6, 86, 46, 14
    PUSHBUTTON "Jetzt syncen", IDC_SYNCNOW, 56, 86, 52, 14
    PUSHBUTTON "Info", IDC_INFOBTN, 112, 86, 34, 14
    PUSHBUTTON "Hintergrund", IDC_BACKGROUND, 150, 86, 46, 14
    PUSHBUTTON "Beenden", IDC_EXIT, 200, 86, 42, 14
    LTEXT "Status: Bereit", IDC_STATUS, 6, 110, 232, 10, SS_LEFTNOWORDWRAP
    LTEXT "Transfer: -", IDC_TRANSFER, 6, 124, 232, 10, SS_LEFTNOWORDWRAP
    LTEXT "Letzter Sync: -", IDC_LASTSYNC, 6, 138, 232, 10, SS_LEFTNOWORDWRAP
    LTEXT "Log: W16SYNC.LOG", IDC_LOGINFO, 6, 152, 232, 10, SS_LEFTNOWORDWRAP
END
